
.closeleft{
    position: fixed;
    left: -1rem;
    top: 0;
    z-index: 101;
}
.closeleftopen{
    position: fixed;
    left: 17.6rem;
    top: 0;
    z-index: 101;
}
.closeright{
    position: fixed;
    right: -1.2rem;
    top: -1.2rem;
    transform: rotate(180deg);
    z-index: 101;
}
.closerightopen{
    position: fixed;
    right: 17.6rem;
    top: -1.2rem;
    transform: rotate(180deg);
    z-index: 101;
}
.staticimageright
{
    position: fixed;
    left: 13.5rem;
    top: 0;
    z-index: 101;
}
.staticimageleft
{
    position: fixed;
    right: 13.5rem;
    top: 0;
    transform: rotate(180deg);
    z-index: 101;
}
.lang{
    background-color: aliceblue;
    width: fit-content;
    height: fit-content;
    color: #1C1C28;
    font-size: 2rem;
}
div.content
{
    text-align: center;
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
 div.content nav{
    background-color: var(--whiteColor);
    box-shadow: 0rem 0 1rem 0 rgba(112, 144, 176, 0.12);
 }
 div.content nav.static{
   width: 18%;
   min-height:100%;    
} 
 div.content nav.openmenu{
   position: fixed;
   width: 20rem;
   top: 0;
   display: block;
   z-index: 100;
   min-height:100%;    
} 
 div.content nav.closemenu{
   position: fixed;
   width: 20rem;
   top: 0;
   display: none;
   z-index: 100;
    min-height:100%;    
} 
div.content main{
    text-align: center;
    width:90%;
    margin:0 auto !important;
}

div.content section{
    width: 95%;
    margin: auto;
}
@media (min-width: 576px) {

    
}
@media (min-width: 768px) {
    div.content
{
    justify-content: center;
}
div.content main{
    width: 100%;
}
}
@media (min-width: 992px) {
   
}
@media (min-width: 1200px) {
    div.content
    {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    div.content section{
        width: 25%;
        margin: 0;
    }
    div.content nav{
        width: 17%;
        display: block;
        /* margin: 0 .7rem; */
    }
    div.content main{
        width: 90%;
    }
}
