    <div class="content" [dir]="translate.textDir">
        <nav>
            <app-navbar></app-navbar>
        </nav>
        <main>
            <div class="lang" (click)="transformTo()">
                <img  [ngClass]="{closeleft:translate.langue,closeright:!translate.langue}" src="../assets/image/btnmenu.svg" alt="arrow">
                <h6 *ngIf="translate.langue">Translate To Arabic</h6>
                <h6 *ngIf="!translate.langue">Translate To English</h6>
            </div>
            <app-persnal-data></app-persnal-data>
            <app-contact-data></app-contact-data>
        </main>
        <section>
            <app-calander></app-calander>
            <app-comments></app-comments>
        </section>
    </div>
