/* div.content
{
    display: flex;
    justify-content: space-between;
}
div.content nav{
    width: 15.625rem;
    height: 51.25rem;
    

}
div.content main{
    width: 90rem;
    height: 100.25rem;
    
}
div.content section{
    width: 24.125rem;
height: 47.375rem;
} */
.lang{
    background-color: aliceblue;
    width: fit-content;
    height: fit-content;
    color: #1C1C28;
    font-size: 2rem;
}
div.content
{
    text-align: center;
    width: 100%;
    margin:.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
div.content nav{
    width: 90%;
    display: none;
}
div.content main{
    text-align: center;
    width: 90%;
    margin: auto;
}
div.content section{
    width: 90%;
    margin: auto;
}
@media (min-width: 576px) {

    
}
@media (min-width: 768px) {
    div.content
{
    justify-content: center;
}
}
@media (min-width: 992px) {
    div.content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.content section{
    margin: 0 .7rem;
        
        
    }
    div.content main{
        flex-shrink:2 ;    
    }
}
@media (min-width: 1200px) {
    div.content nav{
        display: block;
    }
}
