.closeleft{
    position: fixed;
    left: -1rem;
    top: 0;
    z-index: 101;
    
}
.closeleftopen{
    position: fixed;
    left: 17.6rem;
    top: 0;
    z-index: 101;
    
}
.closeright{
    position: fixed;
    right: -1.2rem;
    top: -1.2rem;
    transform: rotate(180deg);
    z-index: 101;
}
.closerightopen{
    position: fixed;
    right: 17.6rem;
    top: -1.2rem;
    transform: rotate(180deg);
    z-index: 101;

}
.lang{
    background-color: aliceblue;
    width: fit-content;
    height: fit-content;
    color: #1C1C28;
    font-size: 2rem;
}
div.content
{
    text-align: center;
    width: 100%;
    margin:.5rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* div.content nav{
    width: 90%;
    display: none;
    background-color: #219756;
    
} */
 div.content nav.openmenu{
   position: absolute;
   width: 20rem;
    display: block;
    background-color: #219756;
    z-index: 100;
    min-height:1000px;
} 
 div.content nav.closemenu{
   position: absolute;
   width: 20rem;
    display: none;
    background-color: #219756;
    z-index: 100;
    min-height:1000px;    
} 
div.content main{
    text-align: center;
    background-color: #972170;
    width: 90%;
    margin: auto;
}
div.content section{
    width: 90%;
    margin: auto;
    background-color: #d1e000;

}
@media (min-width: 576px) {

    
}
@media (min-width: 768px) {
    div.content
{
    justify-content: center;
}
}
@media (min-width: 992px) {
    div.content
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
div.content section{
    margin: 0 .7rem;
        
        
    }
    div.content main{
        flex-shrink:2 ;    
    }
}
@media (min-width: 1200px) {
    /* div.content nav{
        position: static;
        display: block;
        width: 100%;
    } */
}
