    <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" >
        <div (mouseout)="mouseOut(i)" (mouseover)="mouseOn(i)" class="card" *ngFor="let comment of comments let i=index" cdkDrag>
            <h3>{{comment.comment}}</h3>
            <h6>
                <img [src]="comment.clock" alt="">
                <span>04:00 - 05:00 م</span></h6>
            <div class="sub-card">
                <div>
                    <img [src]="comment.image" alt="avatar">
                    <p>{{comment.name}}</p>
                </div>
                <img *ngIf="!translate.langue" src="../../../assets/image/arrowleft.svg" alt="arrowleft">
                <img *ngIf="translate.langue" src="../../../assets/image/arrowright.svg" alt="arrowleft">
            </div>
        </div>
    </div>
