<div>
    <div class="clander">
        <div class="first-card">
            <div class="sub">
                <span>{{'clander.main'|translate}}</span>
                <img *ngIf="!translate.langue"[src]="previousArrow" alt="previous arrow">
                <img *ngIf="!translate.langue" [src]="nextArrow" alt="next arrow">
                <img *ngIf="translate.langue" [src]="nextArrow" alt="next arrow">
                <img *ngIf="translate.langue"[src]="previousArrow" alt="previous arrow">
            </div>
            <div class="sub" (click)="picker.open()">
                <img src="../../../assets/image/calendar-2.svg" alt="calendar">
                <span>{{'clander.date'|translate}}</span>
                <img src="../../../assets/image/arrowdown.svg" alt="down arrow">
            </div>
        </div>
        <input [hidden] style="visibility: hidden;" [matDatepicker]="picker" #inp>
        <mat-datepicker style="visibility: hidden;" #picker></mat-datepicker>


        <div class="secand-card" >
            <div class="day active-day" >
                <p>{{'clander.days.saturday'|translate}}</p>
                <h6  class="activeText"><span>24</span></h6>
                <div>
                    <img  src="../../../assets/image/red.svg" alt="color red">
                </div>
            </div>
            <div class="day"  *ngFor="let day of [0,1,2,3,4,5] let i=index">
                <p *ngIf="i==0">{{'clander.days.sunday'|translate}}</p>
                <p *ngIf="i==1">{{'clander.days.monday'|translate}}</p>
                <p *ngIf="i==2">{{'clander.days.tuesday'|translate}}</p>
                <p *ngIf="i==3">{{'clander.days.wednesday'|translate}}</p>
                <p *ngIf="i==4">{{'clander.days.thursday'|translate}}</p>
                <p *ngIf="i==5">{{'clander.days.friday'|translate}}</p>
                <h6><span>{{i+25}}</span></h6>
                <div>
                    <img *ngIf="i==2||i==3||i==5" src="../../../assets/image/mint.svg" alt="color red">
                    <img *ngIf="i==2||i==3" src="../../../assets/image/yellow.svg" alt="color red">
                    <img *ngIf="i==3" src="../../../assets/image/purple.svg" alt="color red">
                </div>
            </div>
    </div>
</div>